html,
body,
body > .container {
  height: 100%;
}

body {
  background-color: $light-grey;
  
  > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
